@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../shared/styles/colors.scss';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: $bg-color;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
